<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FisioDannieli</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" id="logo-link" asp-controller="Home" asp-action="Index">
                    <img src="~/images/LogoEdit.png" alt="Logo Marca"
                         title="Logo Dannieli Pereira Fisioterapeuta"
                         style="height:80px; width:215px;" />
                </a>
                @*<a class="navbar-brand" asp-controller="Home" asp-action="Index"><img class="logo_fisio" src="~/images/LogoRecortado.png" alt="Logo Fisioterapeuta Dannieli Pereira" /><span>Dannieli Pereira</span><br />  Fisioterapeuta </a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FisioDannieli</a>*@
                        <li class="nav-item active"><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="#Services" class="nav-link">Serviços</a></li>
                        <li class="nav-item"><a href="#Formacoes" class="nav-link">Formações</a></li>
                        @*<li class="nav-item"><a href="departments.html" class="nav-link">Departments</a></li>*@
                        @*<li class="nav-item"><a href="doctor.html" class="nav-link">Doctors</a></li>*@
                        <li class="nav-item"><a asp-controller="Blog" asp-action="Index" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="#Contato" class="nav-link">Contatos</a></li>
                        @*<li class="nav-item"><a asp-controller="Home" asp-action="Privacy" class="nav-link">Privacy</a></li>*@
                        <li class="nav-item cta"><a href="contact.html" class="nav-link" data-toggle="modal" data-target="#modalAppointment"><span>Agende</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" @*class="pb-3"*@>
            @RenderBody()
        </main>
    </div>
    @* Início *@

    <section class="ftco-services">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-4 ftco-animate py-5 nav-link-wrap Services" id="Services">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link px-4 active" id="v-pills-master-tab" data-toggle="pill" href="#v-pills-master" role="tab" aria-controls="v-pills-master" aria-selected="true"><span class="mr-3 flaticon-cardiogram"></span> Fisioterapia</a>

                        <a class="nav-link px-4" id="v-pills-buffet-tab" data-toggle="pill" href="#v-pills-buffet" role="tab" aria-controls="v-pills-buffet" aria-selected="false"><span class="mr-3 flaticon-neurology"></span> Osteopatia</a>

                        <a class="nav-link px-4" id="v-pills-fitness-tab" data-toggle="pill" href="#v-pills-fitness" role="tab" aria-controls="v-pills-fitness" aria-selected="false"><span class="mr-3 flaticon-stethoscope"></span> Barras de Access</a>

                        <a class="nav-link px-4" id="v-pills-reception-tab" data-toggle="pill" href="#v-pills-reception" role="tab" aria-controls="v-pills-reception" aria-selected="false"><span class="mr-3 flaticon-tooth"></span> ThetaHealing</a>

                        <a class="nav-link px-4" id="v-pills-sea-tab" data-toggle="pill" href="#v-pills-sea" role="tab" aria-controls="v-pills-sea" aria-selected="false"><span class="mr-3 flaticon-vision"></span> Reiki</a>

                        <a class="nav-link px-4" id="v-pills-ventosa-tab" data-toggle="pill" href="#v-pills-ventosa" role="tab" aria-controls="v-pills-ventosa" aria-selected="false"><span class="mr-3 flaticon-ambulance"></span> Ventosaterapia</a>

                        <a class="nav-link px-4" id="v-pills-spa-tab" data-toggle="pill" href="#v-pills-spa" role="tab" aria-controls="v-pills-spa" aria-selected="false"><span class="mr-3 flaticon-ambulance"></span> Auriculoterapia</a>
                    </div>
                </div>
                <div class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center">

                    <div class="tab-content pl-md-5" id="v-pills-tabContent">

                        <div class="tab-pane fade show active py-5" id="v-pills-master" role="tabpanel" aria-labelledby="v-pills-master-tab">
                            <span class="icon mb-3 d-block flaticon-cardiogram"></span>
                            <h2 class="mb-4">Fisioterapia</h2>
                            <p>Fisioterapia é a ciência que estuda, diagnostica, previne e recupera pacientes com distúrbios cinéticos funcionais intercorrentes em órgãos e sistemas do corpo humano.</p>
                            <p>O objetivo desta área é preservar, manter, desenvolver ou restaurar (reabilitação) a integridade de órgãos, sistemas ou funções.</p>
                            <p>Utiliza diversas ferramentas para o tratamento adequado, como terapia manual, eletroterapia, exercícios.</p>
                            <p>Fisioterapeuta é um profissional da saúde de primeiro contato (não precisa de encaminhamento) e deve estar devidamente registrado no Conselho Regional de Fisioterapia e Terapia Ocupacional, com formação acadêmica superior, habilitado para construção do diagnóstico cinesiológico funcional, prescrever condutas fisioterapêutica, ordenação e indução do tratamento fisioterapêutico no paciente, bem como, acompanhamento da evolução do quadro clínico funcional e condições para alta do serviço.</p>
                            <p><a href="#" class="btn btn-primary">Saiba mais</a></p>
                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-buffet" role="tabpanel" aria-labelledby="v-pills-buffet-tab">
                            <span class="icon mb-3 d-block flaticon-neurology"></span>
                            <h2 class="mb-4">Osteopatia</h2>
                            <p>A Osteopatia é um sistema de tratamento que se baseia em uma avaliação e diagnóstico diferencial. Portanto, sua ação é centrada no paciente e não centrado na doença, como o sistema convencional.</p>
                            <p>Busca avaliar e tratar a causa do problema e não somente o sintoma.</p>
                            <p>A Osteopatia visa a prevenção e tratamento de diversas disfunções, evitando o uso de fármacos (remédios) e cirurgias.</p>
                            <p>O tratamento pode ser feito desde o recém nascido ao idoso, inclusive gestantes, cada um com suas particularidades.</p>
                            <p>A Osteopatia age através da intervenção manual sobre os tecidos (articulações, músculos, fáscias, ligamentos, cápsulas, vísceras, tecido nervoso, vascular e linfático). É efetivo no tratamento de dores na coluna (cervical, dorsal, lombar), hérnia de disco, ciático; Articulações (tendinites, bursites, entorses, luxações); Tensões musculares; Dores de cabeça; Bruxismo; Refluxos, cólicas, constipação (adultos e bebês); Incontinência urinária/fecal (escapar urina/fezes); Dispareunia (dor na relação sexual); Enfim, integrando os sistemas corporais, o leque de atuação é bastante amplo.</p>
                            <p><a href="#" class="btn btn-primary">Saiba mais</a></p>
                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-fitness" role="tabpanel" aria-labelledby="v-pills-fitness-tab">
                            <span class="icon mb-3 d-block flaticon-stethoscope"></span>
                            <h2 class="mb-4">Barras de Access</h2>
                            <p>É uma técnica onde são trabalhados, através do toque, 32 pontos na cabeça, onde cada barra formada corresponde a um aspecto da vida (alegria, tristeza, dinheiro, comunicação, sexualidade, etc).</p>
                            <p>Quando conseguimos relaxar a nossa mente e chegar no ponto de limite zero, permitimos assim, enxergar com mais calma e clareza assuntos de qualquer área da nossa vida, esse vácuo é necessário para que se crie mais consciência de si, permitindo deixar ir pensamentos que nos limitam e impedem de enxergar por outras perspectivas, conseguindo  encontrar respostas ou resolver questões com mais facilidade. Tirando um pouco do que possa estar encoberto e trazendo mais clareza no campo mental.</p>
                            <p>Diminuindo a ansiedade, o estresse e trazendo mais foco e concentração.</p>
                            <p>Também ajuda a lidar com traumas de infância ou qualquer outro tipo de situação que gerou sentimentos negativos em você, como mágoas ou raiva e que você não conseguiu resolver.</p>
                            <p>As ondas cerebrais irão diminuir e você  se sentirá mais relaxado, mais leve, mais consciente, desligando o piloto automático e acessando informações e percepções que nem mesmo sabia que tinha.</p>
                            <p>Sem conotação religiosa, é uma terapia que auxilia na libertação de padrões e crenças a respeito de nós mesmos, da vida, do que é “certo ou errado” para cada um de nós.</p>
                            <p>Qualquer pessoa pode receber e se beneficiar dessa técnica, não há nenhuma contraindicação, que tal se sentir com a mente mais leve e o corpo mais relaxado? (Rodrigues, P.)</p>
                            <p><a href="#" class="btn btn-primary">Saiba mais</a></p>
                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-reception" role="tabpanel" aria-labelledby="v-pills-reception-tab">
                            <span class="icon mb-3 d-block flaticon-tooth"></span>
                            <h2 class="mb-4">ThetaHealing</h2>
                            <p>
                                A intenção do ThetaHealing é semelhante ao de Barras de Access (ler explicação), proporcionando expansão de consciência, auto-conhecimento, limpeza de crenças limitantes, por exemplo.
                                Porém, no ThetaHealing não há necessidade de toque, podendo ser realizado presencial ou à distância, e há diálogo entre terapeuta e paciente. O paciente fica ciente do que está sendo buscado e trabalhado.
                            </p>
                            <p>"A ciência moderna está chegando a uma era de iluminação. Novas vias de pensamentos estão emergindo, e a visão antiga de que a mente e o corpo são separados está se desintegrando.</p>
                            <p>A consciência de que as emoções, os sentimentos e o poder do pensamento têm uma relação de sustentação e influência direta em nossa saúde física  está se tornando parte do pensamento dominante." (Vianna Stibal)</p>
                            <p><a href="#" class="btn btn-primary">Saiba mais</a></p>
                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-sea" role="tabpanel" aria-labelledby="v-pills-sea-tab">
                            <span class="icon mb-3 d-block flaticon-vision"></span>
                            <h2 class="mb-4">Reiki</h2>
                            <p>O Reiki é uma técnica japonesa que utiliza a troca de energia para revitalizar e harmonizar o corpo.</p>
                            <p>O terapeuta preparado (Reikiano) utiliza as mãos como fonte desta energia para promover bem-estar, felicidade e serenidade.</p>
                            <p>Faz parte de terapias bioenergéticas, onde através de técnicas, exercícios e de respiração ativam o fluxo de energia do corpo, gerando benefícios ao organismo e à mente, como elevação da consciência, melhora dos pensamentos e comportamento.</p>
                            <p>
                                Alguns benefícios do Reiki:
                                -Redução do estresse e ansiedade;
                                -Equilíbrio hormonal e diminuição dos sintomas de estresse;
                                -Redução das toxinas do organismo;
                                -Equilíbrio emocional;
                                -Aumento da criatividade;
                                -Aumento da calma, tranquilidade e serenidade;
                                -Aumento do autocontrole;
                                -Diminuição da impulsividade;
                                -Fortalecimento do sistema imune;
                                -Diminuição dos sintomas da depressão e da síndrome do pânico.
                            </p>
                            <p>Benefícios do Reiki na gravidez</p>
                            <p>O relaxamento e calma proporcionados pelo Reiki podem ser muito úteis durante a gestação, pois podem diminuir a insegurança e o estresse comuns neste período, e proporcionar um parto com maior tranquilidade.</p>
                            <p>Além disto, o controle do estresse diminui a produção de hormônios negativos, como cortisol e adrenalina, que podem provocar aumento da pressão arterial, pré-eclâmpsia e aumentar o risco de parto prematuro.</p>
                            <p>O Reiki é uma terapia complementar e não deve ser substituído por tratamento médico sem prescrição.</p>
                            <p><a href="#" class="btn btn-primary">Saiba mais</a></p>
                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-ventosa" role="tabpanel" aria-labelledby="v-pills-ventosa-tab">
                            <span class="icon mb-3 d-block flaticon-ambulance"></span>
                            <h2 class="mb-4">Ventosaterapia</h2>
                            <p>“Uma técnica que consiste na aplicação de copos de vidro ou acrílico que tem como finalidade criar um vácuo e fazer uma sucção da pele.” Silvia Yamamoto</p>
                            <p>Ao ser realizada a sucção da pele e a musculatura para dentro do copo, o vácuo formado estimula a circulação sanguínea e com este processo são liberadas as toxinas existentes do sangue.</p>
                            <p>Pode ser utilizada de forma fixa ou deslizante. Quando a circulação é ativada através da ventosa, o aumento de sangue favorece a nutrição de músculos, alivia as tensões, dores musculares e articulares.</p>
                            <p>Em alguns casos, o uso da técnica também é realizada com objetivos estéticos, como por exemplo o tratamento da ventosaterapia para celulites e estrias.</p>
                            <p><a href="#" class="btn btn-primary">Saiba mais</a></p>
                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-spa" role="tabpanel" aria-labelledby="v-pills-spa-tab">
                            <span class="icon mb-3 d-block flaticon-ambulance"></span>
                            <h2 class="mb-4">Auriculoterapia</h2>
                            <p>A auriculoterapia é uma terapia da Medicina Tradicional Chinesa que consiste na estimulação com agulhas, sementes, objetos metálicos ou magnéticos em pontos específicos da orelha para aliviar dores ou tratar diversos problemas físicos ou psicológicos, como ansiedade, enxaqueca, obesidade, falta de apetite, alergia, depressão, vícios, tensões musculares, por exemplo.</p>
                            <p>Além disso, a auriculoterapia ajuda a diagnosticar e a prevenir algumas doenças através da observação dos pontos específicos da orelha que se encontram alterados.</p>
                            <p>O pavilhão auricular é considerado uma parte muito importante do corpo humano por constituir um microssistema, podendo refletir todas as mudanças fisiopatológicas dos órgãos e vísceras, dos membros, tronco, dos tecidos e dos órgãos dos sentidos. Quando se produz um estado patológico em qualquer parte do corpo humano isto é refletido na orelha com reações positivas de caráter e localidades diferentes, específicos a cada enfermidade.</p>
                            <p>Auriculoterapia é uma terapia complementar e não deve ser substituído por tratamento médico sem prescrição.</p>
                            <p><a href="#" class="btn btn-primary">Saiba mais</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section-2 img" style="background-image: url(/images/Danni.jpg);">
        <div class="container">
            <div class="row d-md-flex justify-content-end">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="services-wrap ftco-animate">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="ion-ios-arrow-back"></span>
                                    <span class="ion-ios-arrow-forward"></span>
                                </div>
                                <h2>Local de atendimento</h2>
                                <p>Florianópolis/ SC</p>
                                <p>Centro Executivo Expedicionário.</p>
                                <p>Rua Belmira Izabel Martins, 42. Estreito.</p>
                            </a>
                            <a href="#" class="services-wrap ftco-animate">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="ion-ios-arrow-back"></span>
                                    <span class="ion-ios-arrow-forward"></span>
                                </div>
                                <h2>Horário de atendimento</h2>
                                <p>Atendimento com horário agendado.</p>
                                <p>Segunda à sexta. 8h às 19h.</p>
                            </a>
                            <a href="#" class="services-wrap ftco-animate">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="ion-ios-arrow-back"></span>
                                    <span class="ion-ios-arrow-forward"></span>
                                </div>
                                <h2>Contato</h2>
                                <p>Clínica: 48 9 8848-9999</p>
                                <p>Whatsapp: 48 9 8464-0906</p>
                            </a>
                            @*<a href="#" class="services-wrap ftco-animate">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="ion-ios-arrow-back"></span>
                                        <span class="ion-ios-arrow-forward"></span>
                                    </div>
                                    <h2>24/7 Help &amp; Support</h2>
                                    <p>Even the all-powerful Pointing has no control about the blind.</p>
                                </a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section" id="Formacoes">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Currículo / Formações</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="block-2">
                        <div class="flipper">
                            <div class="front" style="background-image: url(/images/Danni.jpg);">
                                <div class="box">
                                    <h2>Aldin Powell</h2>
                                    <p>Neurologist</p>
                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <blockquote>
                                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem&rdquo;</p>
                                </blockquote>
                                <div class="author d-flex">
                                    <div class="image mr-3 align-self-center">
                                        <div class="img" style="background-image: url(/images/Danni.jpg);"></div>
                                    </div>
                                    <div class="name align-self-center">Aldin Powell <span class="position">Neurologist</span></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .flip-container -->
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="block-2">
                        <div class="flipper">
                            <div class="front" style="background-image: url(/images/Danni.jpg);">
                                <div class="box">
                                    <h2>Aldin Powell</h2>
                                    <p>Pediatrician</p>
                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <blockquote>
                                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem&rdquo;</p>
                                </blockquote>
                                <div class="author d-flex">
                                    <div class="image mr-3 align-self-center">
                                        <div class="img" style="background-image: url(/images/Danni.jpg);"></div>
                                    </div>
                                    <div class="name align-self-center">Aldin Powell <span class="position">Pediatrician</span></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .flip-container -->
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="block-2">
                        <div class="flipper">
                            <div class="front" style="background-image: url(/images/Danni.jpg);">
                                <div class="box">
                                    <h2>Aldin Powell</h2>
                                    <p>Ophthalmologist</p>
                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <blockquote>
                                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem&rdquo;</p>
                                </blockquote>
                                <div class="author d-flex">
                                    <div class="image mr-3 align-self-center">
                                        <div class="img" style="background-image: url(/images/Danni.jpg);"></div>
                                    </div>
                                    <div class="name align-self-center">Aldin Powell <span class="position">Ophthalmologist</span></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .flip-container -->
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="block-2">
                        <div class="flipper">
                            <div class="front" style="background-image: url(/images/Danni.jpg);">
                                <div class="box">
                                    <h2>Aldin Powell</h2>
                                    <p>Pulmonologist</p>
                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <blockquote>
                                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem&rdquo;</p>
                                </blockquote>
                                <div class="author d-flex">
                                    <div class="image mr-3 align-self-center">
                                        <div class="img" style="background-image: url(/images/Danni.jpg);"></div>
                                    </div>
                                    <div class="name align-self-center">Aldin Powell <span class="position">Pulmonologist</span></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .flip-container -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 ftco-animate">
                    <h4>We are well experienced doctors</h4>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Parceiros</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap text-center">
                                <div class="user-img mb-5" style="background-image: url(/images/Danni.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">far far away, behind the word mountains, far from the countries vokalia and consonantia, there live the blind texts. separated they live in bookmarksgrove right at the coast of the semantics, a large language ocean.</p>
                                    <p class="name">dennis green</p>
                                    <span class="position">patient</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center">
                                <div class="user-img mb-5" style="background-image: url(/images/Danni.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">far far away, behind the word mountains, far from the countries vokalia and consonantia, there live the blind texts. separated they live in bookmarksgrove right at the coast of the semantics, a large language ocean.</p>
                                    <p class="name">dennis green</p>
                                    <span class="position">patient</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center">
                                <div class="user-img mb-5" style="background-image: url(/images/Danni.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">far far away, behind the word mountains, far from the countries vokalia and consonantia, there live the blind texts. separated they live in bookmarksgrove right at the coast of the semantics, a large language ocean.</p>
                                    <p class="name">dennis green</p>
                                    <span class="position">patient</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center">
                                <div class="user-img mb-5" style="background-image: url(/images/Danni.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">far far away, behind the word mountains, far from the countries vokalia and consonantia, there live the blind texts. separated they live in bookmarksgrove right at the coast of the semantics, a large language ocean.</p>
                                    <p class="name">dennis green</p>
                                    <span class="position">doctor</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Blog</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-6 ftco-animate">
                    <div class="blog-entry align-self-stretch d-flex">
                        <a href="blog-single.html" class="block-20 order-md-last" style="background-image: url('/images/Danni.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-3"><a href="#">New technology facilities</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ftco-animate">
                    <div class="blog-entry align-self-stretch d-flex">
                        <a href="blog-single.html" class="block-20 order-md-last" style="background-image: url('/images/Danni.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-3"><a href="#">New technology facilities</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ftco-animate">
                    <div class="blog-entry align-self-stretch d-flex">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/Danni.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-3"><a href="#">New technology facilities</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ftco-animate">
                    <div class="blog-entry align-self-stretch d-flex">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/Danni.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">August 12, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-3"><a href="#">New technology facilities</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Inscreva-se para receber novidades</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-md-8">
                                <form action="#" class="subscribe-form">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" placeholder="Enter email address">
                                        <input type="submit" value="Inscreva-se" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @* Fim parte fixa no meio *@
    <footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(/images/Danni.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Fisioterapeuta Dannieli Pereira</h2>
                        <p>NÃO SE ACOSTUME COM A DOR!</p>
                        <p>Procure tratar a causa do seu problema, não somente os sintomas.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://www.facebook.com/fisiodannieli/" target="_blank"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/fisiodannieli/" target="_blank"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Informações</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Appointments</a></li>
                            <li><a href="#" class="py-2 d-block">Suas especialidades</a></li>
                            <li><a href="#" class="py-2 d-block">Como localizar</a></li>
                            <li><a href="#" class="py-2 d-block">Seus serviços</a></li>
                            <li><a href="#" class="py-2 d-block">Dicas de saúde</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Site Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Home</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Departments</a></li>
                            <li><a href="#" class="py-2 d-block">Doctors</a></li>
                            <li><a href="#" class="py-2 d-block">Blog</a></li>
                            <li><a href="#" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>*@
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2" id="Contato">Alguma pergunta?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Rua Belmira Izabel Martins, 42. Estreito, Florianópolis, SC, BR - Centro Executivo Expedicionário</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+55 48 9 8464-0906</span></a></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+55 48 9 8848-9999</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">dannieli.fisio@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <!-- Modal -->
    <div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAppointmentLabel">Fale comigo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="form-group">
                            <label for="appointment_name" class="text-black">Nome completo</label>
                            <input type="text" class="form-control" id="appointment_name">
                        </div>
                        <div class="form-group">
                            <label for="appointment_email" class="text-black">Email</label>
                            <input type="text" class="form-control" id="appointment_email">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="appointment_date" class="text-black">Data</label>
                                    <input type="text" class="form-control" id="appointment_date">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="appointment_time" class="text-black">Hora</label>
                                    <input type="text" class="form-control" id="appointment_time">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="appointment_message" class="text-black">Mensagem</label>
                            <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jquery.timepicker.min.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="js/typed.js"></script>
    <script>
        var typed = new Typed('.typed-words', {
            strings: ["Procure tratar a causa do seu <strong>problema</strong>.", "Não somente os <strong>sintomas</strong>."],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 400,
            startDelay: 1000,
            loop: true,
            showCursor: true
        });
    </script>
    <script src="/js/main.js"></script>
</body>
</html>
