@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<div class="hero-wrap" style="background-image: url('/images/Danni.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <h1 class="mb-4" data-aos="fade-up" style="text-transform:none; text-shadow:1px 1px 1px #006666;">Não se acostume com a DOR!</h1>
                <h2 style="color:white; text-shadow:1px 1px 1px #006666;"><span class="typed-words"></span></h2>
                @*<p>Procure tratar a causa do seu problema, não somente os sintomas.</p>*@
            </div>
        </div>
    </div>
</div>