@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<div class="hero-wrap" style="background-image: url('/images/bg_1.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <h1 class="mb-4">Não se acostume com a dor!</h1>
                <p>Procure tratar a causa do seu problema, não somente os sintomas.</p>
            </div>
        </div>
    </div>
</div>