
@{
    Layout = "_Layout";
    ViewData["Title"] = "Services";
}
<div class="hero-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <h1 class="mb-4">Página Services</h1>
            </div>
        </div>
    </div>
</div>

<h1>Services</h1>